@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
body{
    background-color: rgb(248, 231, 210)
}
*{
    margin: 0;
    padding: 0;
}

nav{
    font-family:'Varela Round', sans-serif;
}
nav ul{
    display: flex;
    align-items: center;
    
    list-style-type: none;
    height: 40px;
    background-color: black;
    color: white;
}
nav ul li{
    padding: 0px 12px;
}
.logo img{
    width: 47px;
    padding: 0px 8px;
}
.logo{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.4rem;
}
#container{
    min-height: 65vh;
    background-color: black;
    color: white;
    font-family: "Varela Round", sans-serif;
    display: flex;
    margin: 23px auto;
    width: 70%;
    border-radius: 10px;
    padding: 34px;
    background-image: url("spotify.jpg");
}
.bottom{
    position: sticky;
    height: 130px;
    background-color:black;
    color: white;
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#myProgressBar{
    width: 80vw;
    cursor: pointer;
}
.icons{
    margin-top: 14px;
}
.icons i{
    cursor: pointer;
}
.songItem{
    height: 50px;
    display: flex;
    background-color: white;
    /* width: 80%; */
    color:black;
    margin: 12px 0px;
    justify-content: space-around;
    align-items: center;
    border-radius: 48px;
}
.songItem img{
    width: 40px;
    margin: 0px 21px;
    border-radius:  20px;;
}
.timestamp{
    margin: 0px 23px;
}
.timestamp i{
    cursor: pointer;
}
.songinfo{
    font-size: 1rem;
}